

  <p>Your preferences:</p>

  <form
    method="post"
    action="savepreferences.cgi"> 
    <p>
    <input type="checkbox"
        value="weeklyreminder"
        id="weeklyreminder"
        name="weeklyreminder" $CHECKED />
    <label for="weeklyreminder">Receive weekly reminders?</label>
    </p>
    
    <input type="submit" value="Save!"/> 
  </form> 
