

  <p>Your preferences:</p>

  <form
    method="post"
    action="savepreferences.cgi"> 
    <p>
    <input type="checkbox"
        value="weeklyreminder"
        name="weeklyreminder" $CHECKED />
    Receive weekly reminders? 
    </p>
    
    <input type="submit" value="Save!"/> 
  </form> 
